<div>
  <app-navbar></app-navbar>
  <div
    class="container"
    style="
      display: flex;
      justify-content: center;
    "
  >
    <div class="card" style="width: 70%;">
      <div class="card-body">
        <h2 class="card-title">Reservation Form</h2>
        <form (ngSubmit)="handleSubmit()">
          <div class="row">
            <div class="col-md-6">
              <div class="form-floating mb-3">
                <input
                  type="number"
                  class="form-control"
                  id="numberOfChildren"
                  name="numberOfChildren"
                  placeholder="Number of Children"
                  min="0"
                  max="2"
                  [(ngModel)]="reservationData.numberOfChildren"
                  (input)="handleReservationChange($event)"
                  required
                />
                <label for="numberOfChildren" class="form-label">Number of Children</label>
              </div>
              <div class="form-floating mb-3">
                <input
                  type="number"
                  class="form-control"
                  id="numberOfAdults"
                  name="numberOfAdults"
                  placeholder="Number of Adults"
                  min="1"
                  max="2"
                  [(ngModel)]="reservationData.numberOfAdults"
                  (input)="handleReservationChange($event)"
                  required
                />
                <label for="numberOfAdults" class="form-label">Number of Adults</label>
              </div>
              <div class="form-floating mb-3">
                <input
                  type="date"
                  class="form-control"
                  id="checkInDate"
                  name="checkInDate"
                  placeholder="Check-in Date"
                  [(ngModel)]="reservationData.checkInDate"
                  ((input))="handleReservationChange($event)"
                  required
                />
                <label for="checkInDate" class="form-label">Check-in Date</label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-floating mb-3">
                <input
                  type="text"
                  class="form-control"
                  id="roomNumber"
                  name="roomNumber"
                  [(ngModel)]="reservationData.roomNumber"
                  readonly
                />
                <label for="roomNumber" class="form-label">Room Number</label>
              </div>

              <div class="form-floating mb-3">
                <input
                  type="number"
                  class="form-control"
                  id="numberOfNights"
                  name="numberOfNights"
                  [(ngModel)]="reservationData.numberOfNights"
                  readonly
                  required
                />
                <label for="numberOfNights" class="form-label">Number of Nights</label>
              </div>

              <div class="form-floating mb-3">
                <input
                  type="date"
                  class="form-control"
                  id="checkOutDate"
                  name="checkOutDate"
                  placeholder="Check-out Date"
                  [(ngModel)]="reservationData.checkOutDate"
                  (input)="handleReservationChange($event)"
                  required
                />
                <label for="checkOutDate" class="form-label">Check-out Date</label>
              </div>
            </div>
            <div class="form-floating mb-3">
              <select
                class="form-select"
                id="roomType"
                name="roomType"
                [(ngModel)]="reservationData.roomType"
                [disabled]="isUpdateMode"
                required
              >
                <option value="">Select room type</option>
                <option value="Standard">Standard</option>
                <option value="Delux">Delux</option>
                <option value="Suites">Suites</option>
              </select>
              <label for="roomType" class="mx-2">Room Type</label>
            </div>
          </div>
          <h3>Guests</h3>
          <button type="button" class="btn btn-primary" (click)="handleAddGuest()">
            Add Guest
          </button>
          <div *ngFor="let guest of guests; let i = index">
            <h4>Guest {{ i + 1 }}</h4>
            <div class="form-floating mb-3">
              <input
                type="text"
                class="form-control"
                id="guestName{{ i }}"
                name="name"
                placeholder="Name"
                [(ngModel)]="guests[i].name"
                required
              />
              <label for="guestName{{ i }}" class="form-label">Name</label>
            </div>
            <div class="form-floating mb-3">
              <input
                type="email"
                class="form-control"
                id="guestEmail{{ i }}"
                name="email"
                placeholder="Email"
                [(ngModel)]="guests[i].email"
                required
              />
              <label for="guestEmail{{ i }}" class="form-label">Email</label>
            </div>
            <div class="form-floating mb-3">
              <input
                type="number"
                class="form-control"
                id="guestPhoneNumber{{ i }}"
                name="phoneNumber"
                placeholder="Phone Number"
                pattern="[0-9]{10}"
                [(ngModel)]="guests[i].phoneNumber"
                required
              />
              <label for="guestPhoneNumber{{ i }}" class="form-label">Phone Number</label>
            </div>
            <div class="form-floating mb-3">
              <input
                type="text"
                class="form-control"
                id="guestAddress{{ i }}"
                name="address"
                placeholder="Address"
                [(ngModel)]="guests[i].address"
                required
              />
              <label for="guestAddress{{ i }}" class="form-label">Address</label>
            </div>
            <div class="form-floating mb-3">
              <select
                class="form-select"
                id="guestGender{{ i }}"
                name="gender"
                placeholder="Gender"
                [(ngModel)]="guests[i].gender"
                required
              >
                <option value="">Select Gender</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Other">Other</option>
              </select>
              <label for="guestGender{{ i }}" class="form-label">Gender</label>
            </div>
            <button
              type="button"
              class="btn btn-danger"
              (click)="handleRemoveGuest(i, guest)"
            >
              Remove Guest
            </button>
          </div>

          <div>
            <button type="submit" class="btn btn-success mt-3">
              {{ isUpdateMode ? 'Update Reservation' : 'Submit Reservation' }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="card mx-4 my-4">
    <div class="card-body">
      <h3>Reservation Details</h3>
      <div class="mb-3">
        <div class="input-group">
          <input
            type="number"
            class="form-control"
            placeholder="Enter Reservation Id"
            [(ngModel)]="roomNumberSearch"
          />
          <button
            class="btn btn-primary ms-2"
            style="width: 150px;"
            (click)="handleRoomNumberSearch()"
          >
            Search
          </button>
        </div>
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Room Number</th>
            <th>Guest Details</th>
            <th>Check-in Date</th>
            <th>Check-out Date</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let reservation of reservations; let i = index">
            <td>{{ reservation.roomNumber }}</td>
            <td>
              <ol>
                <li *ngFor="let guest of reservation.guests; let guestIndex = index">
                  <div>Name: {{ guest.name }}</div>
                  <div>Email: {{ guest.email }}</div>
                  <div>Phone Number: {{ guest.phoneNumber }}</div>
                  <div>Address: {{ guest.address }}</div>
                  <div>Gender: {{ guest.gender }}</div>
                  <hr />
                </li>
              </ol>
            </td>
            <td>{{ getFormattedDate(reservation.checkInDate) }}</td>
            <td>{{ getFormattedDate(reservation.checkOutDate) }}</td>
            <td>
              <button
                type="button"
                class="btn btn-primary me-2"
                (click)="handleUpdateReservation(reservation, reservation.id)"
              >
                Update
              </button>
              <button
                type="button"
                class="btn btn-danger"
                (click)="handleDeleteReservation(reservation.id)"
              >
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>