<div
  style="
    background: url('https://shorturl.at/axLN1') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    overflow: auto;
  "
>
  <app-navbar></app-navbar>
  <app-report></app-report>
  <div class="container mt-4">
    <div
      class="card"
      style="
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1),
          0 1px 3px rgba(0, 0, 0, 0.08);
        opacity: 0.9;
      "
    >
      <div class="card-body">
        <h3 class="card-title">
          {{ isUpdating ? "Update Department" : "Add Department" }}
        </h3>
        <form (ngSubmit)="handleSubmit(departmentForm)" #departmentForm="ngForm">
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              id="name"
              placeholder="Enter department name"
              [(ngModel)]="name"
              name="name"
              required
              #nameInput="ngModel"
            />
            <label for="name">Name</label>
            <div *ngIf="nameInput.invalid && (nameInput.dirty || nameInput.touched)" class="text-danger">
              <div *ngIf="nameInput.errors?.['required']">
                Name is required.
              </div>
            </div>
          </div>
          <div class="form-floating mb-3">
            <textarea
              class="form-control"
              id="description"
              rows="3"
              placeholder="Enter department description"
              [(ngModel)]="description"
              name="description"
              required
              #descriptionInput="ngModel"
            ></textarea>
            <label for="description">Description</label>
            <div *ngIf="descriptionInput.invalid && (descriptionInput.dirty || descriptionInput.touched)" class="text-danger">
              <div *ngIf="descriptionInput.errors?.['required']">
                Description is required.
              </div>
            </div>
          </div>
          <div>
            <button type="submit" class="btn btn-primary mt-2">
              {{ isUpdating ? "Update" : "Submit" }}
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="card mt-4">
      <div class="card-body">
        <h3 class="card-title">Departments</h3>
        <app-table
          [items]="items"
          [onDelete]="handleDelete.bind(this)"
          [onUpdate]="handleUpdate.bind(this)"
        ></app-table>
      </div>
    </div>
  </div>
</div>