<div class="container">
  <h2>{{ tableHeading }}</h2>
  <div *ngIf="items.length === 0">No items to display.</div>
  <table class="table" *ngIf="items.length > 0">
    <thead>
      <tr>
        <th *ngFor="let key of getKeys()">{{ key.charAt(0).toUpperCase() + key.slice(1) }}</th>
        <th *ngIf="!billTable">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items; let i = index">
        <td *ngFor="let key of getKeys()">
          {{ item[key] !== null ? item[key].toString() : '' }}
        </td>
        <td *ngIf="!billTable">
          <button
            class="btn btn-primary btn-sm update-btn mx-2"
            (click)="handleUpdate(item)"
          >
            Update
          </button>
          <button
            class="btn btn-danger btn-sm delete-btn"
            (click)="handleDelete(item.id)"
          >
            Delete
          </button>
        </td>
        <td *ngIf="billTable && !item.paid">
          <app-payment
            [amount]="getAmount(item.netAmount)"
            [userName]="'Gourav Patel'"
            [email]="'gourav@gmail.com'"
            [contact]="'8319539388'"
            [billId]="item.billNumber ?? 0"
          ></app-payment>
        </td>
      </tr>
    </tbody>
  </table>
</div>